<!doctype html>
<html lang="ja">
<head>
    <title>ベジゼロ</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <link rel='stylesheet' href='../static/index.css'>
</head>

<body>
    <div id='home' class='big-bg'>
        <header class='page-header wrapper'>
            <h1 class='logo'>ベジゼロ</h1>
            <nav>
                <ul class='main-nav'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/recipe">レシピ検索</a></li>
                    <li><a href='/word'>取り組み紹介</a></li>
                </ul>
            </nav>
        </header>

        <div class='home-content wrapper'>
            <h2 class='page-title'>捨てられる野菜に、光を。</h2>
            <br>
            <br>
            <div class='home-content-text'>
                <p>現在、食品廃棄量の増加は世界的な問題となっています。<br>日本では年間約2800万トン、世界では年間約13億トンも廃棄されており、<br>その中にはまだ食べられたはずの食品も多く含まれます。</p>
                <p>少しでも食品廃棄を減らすために、今日からできることを始めてみませんか。</p>
            </div>
        </div>
    </div><!-- #home -->
</body>
</html>
