<!doctype html>
<html lang="ja">
<head>
    <title>ベジゼロ - 取り組み紹介</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <link rel='stylesheet' href='../static/index.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id='word' class='big-bg'>
        <header class='page-header wrapper'>
            <h1 class='logo'>ベジゼロ</h1>
            <nav>
                <ul class='main-nav'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/recipe">レシピ検索</a></li>
                    <li><a href="/word">取り組み紹介</a></li>
                </ul>
            </nav>
        </header>

        <div class='wrapper'>
            <h2 class='page-title'>取り組み紹介</h2>  
        </div><!-- wrapper-->
    </div>

    <div class='word-contents wrapper'>
        <header class='post-info'>
            <h2 class='post-title'>「規格外野菜」の活用に取り組んでいる企業を<br>
                ひとつ紹介します。</h2>
        </header>
        <div class='word-main-contents'>
            <!-- <h3>ひとつずつ実践していきましょう。</h3> -->
            <a href="/word_result" class='wordbutton'>Click here</a>
        </div><!-- word-contents -->
    </div>


    <footer>
        <div class='wrapper'>
            <small>&copy; 2021 A.KAISE</small>
        </div>
    </footer>
</body>
</html>
